/* =========================
   RESPONSIVE: NAV + FOOTER
   ========================= */

@media (min-width: 768px) {

  .ubq-nav-center .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .ubq-nav-right {
    min-width: 220px;
    justify-content: flex-end;
  }

  .footer-ubq { text-align: left; }
  .footer-social { justify-content: flex-start; }
  .footer-ubq .footer-nav ul { text-align: left; }
}
