:root {
  --ubq-red: #bb2e29;
  --ubq-red-dark: #811f1b;
  --ubq-gold: #ffd966;

  --ubq-neon-cyan: rgb(79, 209, 255);

  --rpg-red: #ff004c;
  --rpg-blue: #00d4ff;
  --rpg-yellow: #ffea00;

  --tech-gray: #2d2d2d;
  --paper-tech: #e8e8e8;
}
